---
import BlogPost from "../layouts/BlogPost.astro";
---

<BlogPost
	title="About Me"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date("5/8/2024")}
	heroImage="/blog-placeholder-about.jpg"
>
	<p>When I have more to say, I'll say it here!</p>
</BlogPost>
